<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Add car</title>
  {% load static %}
  <link rel= "stylesheet" type= "text/css" href= "{% static 'styles/style.css' %}"></head>

</head>
<body>


<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><a href='{% url 'index' %}'>Home</a></li>
        <li><a href='{% url 'Request1' %}'>Blue and Red Cars</a></li>
        <li><a href='{% url 'Request2_1' %}'>Add Owener</a></li>
        <li class="active"><a href="#">Add Car</a></li>
		<li><a href='{% url 'Request3' %}'>Age over 70 years</a></li>
		<li><a href='{% url 'Request4' %}'>Illegal passing of the cars</a></li>
		<li><a href='{% url 'Request5' %}'>Datetime of Toll Car & Owner</a></li>
		<li><a href='{% url 'Request6_1' %}'>600m from Toll Station Now</a></li>
        <li><a href='{% url 'Request6_2' %}'>600m from Toll Station Old</a></li>
		<li><a href='{% url 'Request7' %}'>Car and owener Toll</a></li>
      </ul>
    </nav>
  </aside>

<div class="container3">
  <form action="" method="post" >{% csrf_token %}
    <div class="row">

      <div class="col-75">
        <br>
        <br>
        <P class="Result_C" dir="rtl" >ثبت خودرو </P>
        <br>
        <br>

        <input type="text" id="national_code" name="national_code" placeholder="Your national code..">

      </div>

    </div>

    <div class="row">

      <div class="col-75">

        <input type="text" id="id" name="id" placeholder="Your Id car..">

      </div>

    </div>

    <div class="row">

      <div class="col-75">

        <input type="text" id="type" name="type" placeholder="Your type car..">

      </div>

    </div>

    <div class="row">

      <div class="col-75">

        <input type="text" id="color" name="color" placeholder="Your color car..">

      </div>

    </div>

    <div class="row">

      <div class="col-75">

        <input type="text" id="length" name="length" placeholder="Your Length car..">

      </div>

    </div>

    <div class="row">

      <div class="col-75">

        <input type="text" id="load_valume" name="load_valume" placeholder="Your Load valume car..">
		<br></b>
		<br></b>
		<p class="Result_C">Result is: {{result}}</p>
        <br>
        <br>

      </div>

    </div>

    <div class="row">

      <input type="submit" value="Submit" name ="message_frm">

    </div>

  </form>

</div>
</main>
  
</body>
</html>
