<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  {% load static %}
  <link rel= "stylesheet" type= "text/css" href= "{% static 'styles/style.css' %}">
</head>
<body>


<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href='{% url 'Request1' %}'>Blue and Red Cars</a></li>
        <li><a href='{% url 'Request2_1' %}'>Add Owener</a></li>
        <li><a href='{% url 'Request2_2' %}'>Add Car</a></li>
		<li><a href='{% url 'Request3' %}'>Age over 70 years</a></li>
		<li><a href='{% url 'Request4' %}'>Illegal passing of the cars</a></li>
		<li><a href='{% url 'Request5' %}'>Datetime of Toll Car & Owner</a></li>
		<li><a href='{% url 'Request6_1' %}'>600m from Toll Station Now</a></li>
        <li><a href='{% url 'Request6_2' %}'>600m from Toll Station Old</a></li>
		<li><a href='{% url 'Request7' %}'>Car and owener Toll</a></li>
      </ul>
    </nav>
  </aside>

  <section class="Text_center">
    <div class="container">
      <p> Welcome !</p>
    </div>
  </section>
</main>
  
</body>
</html>
